<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cloudit.brooks">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".SplashActivity" />


        <activity android:name=".SignUPActivity" />

        <activity android:name=".ArrayAdapterListViewActivity"/>


        <activity
            android:name=".PayPal_sdk"/>


        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />
        <!-- You can comment this out if paypal is of no use -->
        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity"
            />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />



        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCHoeS8DH3H-2mwUDV0nPPEgd8fnzHVC-I" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".InnerActivity2"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".PropertyTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".LocationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".RoomSpecificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".AddroomdetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ImageChooseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".WriteTextActivity" />
        <activity android:name=".SetAddressActivity" />
        <activity android:name=".SetPriceActivity" />
        <activity android:name=".BookingdetailsActivity" />
        <activity android:name=".HouseRulesActivity" />
        <activity android:name=".OptionaldetailsActivity" />
        <activity android:name=".LongtermpricesActivity" />
        <activity android:name=".DescriptionActivity" />
        <activity android:name=".RoomsandbedActivity" />
        <activity android:name=".ViewEditActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".HelpSupportActivity" />
        <activity android:name=".WhyhostActivity"></activity>
    </application>

</manifest>